<div class="row">

  <div class="col-md-5 me-5 col-lg-5  bg-white rounded-4  ">
    <div class="table-responsive  bg-white">
      <div class="alert text-center fw-bold fs-6" *ngIf="erroMasgeForDelete" >
        <p class="text-danger"> {{erroMasgeForDelete}}</p>
      </div>
      <table class="table align-middle mb-0" dir="rtl">
        <thead>
          <tr>
                  <th class="text-dark font-medium fs-4">الاسم </th>
                  <th class="text-dark font-medium fs-4">حساب المستخدم</th>
                  <th class="text-dark font-medium fs-4">الصفة</th>
                  <th class="text-dark font-medium fs-4">ازالة</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of allUser" >
                <ng-container *ngIf="item.role != 'Admin' && item.role !='UserBuyer' ">
                  <td>
                    {{item?.userName}}
                </td>
                <td class="fs-4">{{item?.email}}</td>
                <td class="fs-4">{{item?.role}}</td>
                <td (click)="deleteUser(item?.email)">
                  <h3 class="p-2 bg- rounded-circle d-inline-block ms-3"><i class="fa-solid fa-trash text-danger "></i></h3>
              </td>
                </ng-container>



              </tr>
          </tbody>
      </table>
  </div>
  </div>
  <div class="col-md-5 col-lg-5  bg-white rounded-4 ">
    <div class="table-responsive  bg-white">
      <div class="alert text-center fw-bold fs-6" *ngIf="erroMasgeForDelete" >
        <p class="text-danger"> {{erroMasgeForDelete}}</p>
      </div>
      <table class="table align-middle mb-0" dir="rtl">
        <thead>
          <tr>
                  <th class="text-dark font-medium fs-4">الاسم </th>
                  <th class="text-dark font-medium fs-4">حساب المستخدم</th>
                  <th class="text-dark font-medium fs-4">الصفة</th>
                  <th class="text-dark font-medium fs-4">ازالة</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of allUser" >
                <ng-container *ngIf="item.role != 'Admin' && item.role !='Client' ">
                  <td>
                    {{item?.userName}}
                </td>
                <td class="fs-4">{{item?.email}}</td>
                <td class="fs-4">{{item?.role}}</td>
                <td (click)="deleteUser(item?.email)">
                  <h3 class="p-2 bg- rounded-circle d-inline-block ms-3"><i class="fa-solid fa-trash text-danger "></i></h3>
              </td>
                </ng-container>



              </tr>
          </tbody>
      </table>
  </div>
  </div>
</div>
