
<ul class="navbar-nav bg-primary  me-auto" dir="rtl">
  <li class="nav-item">
    <a class="nav-link  fw-bold" routerLink="/dashboard"> لوحة التحكم </a>
  </li>

  <li class="nav-item">
    <a class="nav-link  fw-bold" routerLink="/component/users"> الأعضاء</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  fw-bold" routerLink="/component/city"> الحجوزات</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link  fw-bold" routerLink="/component/acceptRequest">قبول العقارات </a>
  </li>
  <li class="nav-item ms-auto">
    <a class="nav-link  fw-bold" routerLink="/component/hotel"> العقارات</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link  fw-bold"> مرحبا {{userName}} </a>
  </li>
  <li class="nav-item">
    <a class="nav-link  fw-bold logout" (click)="logOut()"> تسجيل الخروج</a>
  </li>
</ul>



