<div class="row top-card" dir="rtl">
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="card-content">
                    <div class="icon-box custom-centralized bg-light-success custom-text-success">
                      <i class="fa-solid fa-clipboard-check"></i>
                    </div>
                    <div class="card-text">
                      <h3>{{allAccept}}</h3>
                      <small class="text-muted fs-3"></small>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="card-content">
                  <div class="icon-box custom-centralized bg-light-danger text-danger custom-text-success">
                    <i class="fa-solid fa-ticket"></i>
                                      </div>
                    <div class="card-text">
                        <h3>{{allBooking}}</h3>
                        <small class="text-muted fs-3"> </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="card-content">
                  <div class="icon-box custom-centralized bg-light-warning text-warning">
                        <i class='fa-solid fa-city'></i>
                    </div>
                    <div class="card-text">
                        <h3>{{allTrue}}</h3>
                        <small class="text-muted fs-3"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="card-content">
                  <div class="icon-box custom-centralized bg-light-info text-info ">
                    <i class="fa-regular fa-user"></i>
                                      </div>
                    <div class="card-text">
                        <h3>{{allUsers}}</h3>
                        <small class="text-muted fs-3"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
